[Desktop Entry]
Version=0.2
Name=Shell Snake
GenericName=Snake
Comment=A simple terminal based game
#TryExec=gnome-terminal --maximize -e "bash -c 'shellsnake'"
Exec=shellsnake
Icon=${SNAP}/meta/gui/shellsnake.jpeg
Type=Application
Terminal=true
Categories=Utility;Game;
Keywords=Snake;Game;
